*.csproj
*.json
*.txt
*.exe
*.dll
*.pdb
*.cache
*.props
*.targets
*.editorconfig
*AssemblyAttributes.cs
*AssemblyInfo.cs
*.dtbcache*
*.futdcache*
*.suo
*.testlog
*.manifest
*.sln
*.user
*.resources
*.resx
*.config